/** HEADER **/
#header-nav {
	background-color: #cccccc;
	border-bottom: 2px solid black;
	margin: 0;
}


.navbar-brand h1 {
	font-family: 'Lora', serif;
	font-size: 1.5em;
	font-weight: bold;
	color: black;
	margin-top: 0px;
}

#nav-list {
	margin-top: 10px;
}
#nav-list a {
	text-align: center;
}

#paragraph {
	background-color: #cccccc;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
}
#paragraph h2 {
	font-weight: bold;
	margin-bottom: 20px;
}
